header {
  width: 100%;
  max-width: 1280px;
  height: 48px;
  position: sticky;
  margin: 0 auto;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  align-items: center;
  border-bottom: 1px solid #eaeaea;

  h1 {
    text-align: center;
    font-size: 1.5rem;
  }
}
