:root {
  --dark: #c8c8c8;
  --light: #252422;
  --gray: #c6c7c4;
  --gray-light: #c8c8c8;
  --gray-dark: #403d39;
  --orange: #eb5e28;
  --yellow: #f6aa1c;
  --green: #5c7457;
  --blue: #0f4c5c;
}
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1280px;
