#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
body {
  height: 100dvh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  color: #333;
  margin: 0;
}

a {
  color: #42b983;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
